.warningText{
  color: red;
  font-style: italic;
}

.nameColumnContainer{
  max-width: 200px;
  white-space: normal;
}

.progressDialog{
  text-align: center;
}

.successIcon{
  font-size: 24pt;
  color: #00DD00;
}

.errorIcon{
  font-size: 24pt;
  color: #FF2222;
}